/* GLOBAL STYLES */

:root{
    --black: #0d0d0d;
    --charcoal: #171717;
    --dark-grey: #222222;
    --gold: #c9a227;
    --cream: #f5f1e8;
    --grey: #a6a6a6;
    --white: #ffffff;

    --heading-font: "Oswald", sans-serif;
    --body-font: "DM Sans", sans-serif;
}






